---
import "@fontsource-variable/noto-serif-display";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Magallanes</title>
  </head>
  <body>
    <main>
      <section onclick="" class="tooltip">
        <span>Magallanes </span>
        <div class="tooltiptext">
          <span>mah-gah-YAH-nes</span>
          <span>[ma.ɣaˈʝa.nes]</span>
        </div>
      </section>
    </main>
  </body>

  <style>
    main {
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 0.75rem;
      font-family: "Noto Serif Display Variable", serif;
    }

    .tooltip {
      position: relative;
      display: inline-block;
      cursor: pointer;
      font-size: 3rem;
    }

    .tooltip:hover {
      text-decoration: dashed;
      text-decoration-line: underline;
      text-decoration-thickness: 0.175rem;
    }

    .tooltiptext {
      font-size: 1.125rem;
      visibility: hidden;
      display: grid;
      width: fit-content;
      background-color: #444;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 10px;
      position: absolute;
      z-index: 1;
      top: 95%;
      right: 50%;
      transform: translateX(50%) translateY(-10px);
      width: max-content;
      opacity: 0;
      transition:
        opacity 0.5s,
        transform 0.5s;
    }

    .tooltip:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
      transform: translateX(50%) translateY(0);
    }

    .tooltiptext::after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      /* margin-left: -5px; */
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent #444 transparent;
    }

    /* @media (hover: none) {
      .tooltip:active {
        text-decoration: dashed;
        text-decoration-line: underline;
        text-decoration-thickness: 0.175rem;
      }

      .tooltip:active .tooltiptext {
        visibility: visible;
        opacity: 1;
        transform: translateX(50%) translateY(0);
      }
    } */
  </style>
</html>
